<!DOCTYPE html>
<html>

<head>
    <title>MM Run Pago</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/payment_page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script type="text/javascript" src="/javascripts/payment-page.js" defer></script>
</head>

<body>
    <input id="mercado-pago-public-key" value="{{mercadoPagoPublicKey}}" type="hidden" />
    <main>
        <!-- Shopping Cart -->
        <section class="shopping-cart dark">
            <div class="container container__cart">
                <div class="block-heading">
                    <h2>Mari Menuco Run</h2>
                    <p>Revisa bien los datos antes de pagar</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="items">
                                <div class="product">
                                    <div class="info">
                                        <div class="product-details">
                                            <div class="row justify-content-md-center">
                                                <div class="col-md-12 product-detail">
                                                    <h5>Estas Pagando:</h5>
                                                    <div class="product-info">
                                                        <p><b>Descripcion: </b>
                                                            <%= description %><br>
                                                                <b>Distancia: </b><span id="product-description"><%= cat %></span><br>
                                                                <b>Categoria: </b><span id="product-description"><%= genre %> - <%= ageSelect %></span><br>
                                                                <b>Corredor: </b>
                                                                <%= `00${runnerNbr}` %><br>
                                                                    <b>Nombre: </b>
                                                                    <%= runnerName %><br>
                                                                        <b>Precio:</b> $ <span id="unit-price"><%= _transaction_amount %></span></p>
                                                    </div>
                                                    <input type="hidden" id="quantity" value="1" min="1" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="summary">
                                <h3>Pagar</h3>
                                <div class="summary-item"><span class="text">Costo de inscripcion</span><span class="price" id="cart-main-price"><%= _transaction_amount %></span></div>
                                <div class="summary-item"><span class="text">Costo de la plataforma</span><span class="price" id="cart-platform-cost">0</span></div>
                                <div class="summary-item"><span class="text"><strong>Total</strong></span><span class="price" id="cart-total"><%= _transaction_amount %></span></div>
                                <button class="btn btn-primary btn-lg btn-block" id="checkout-btn">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Payment -->
        <section class="payment-form dark">
            <div class="container__payment">
                <div class="block-heading">
                    <h2>Datos de la Tarjeta</h2>
                    <p>Ingresa los datos de pago</p>
                </div>
                <div class="form-payment">
                    <div class="products">
                        <div class="item">
                            <span class="price" id="summary-price"></span>
                            <p class="item-name">Inscripcion x <span id="summary-quantity"></span></p>
                        </div>
                        <div class="total"><strong>Total</strong><span class="price" id="summary-total"></span></div>
                    </div>
                    <div class="payment-details">
                        <form id="form-checkout">
                            <h3 class="title">Datos del Titular de la Tarjeta</h3>
                            <div class="row">
                                <div class="form-group col">
                                    <input id="form-checkout__cardholderEmail" name="cardholderEmail" type="email" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <select id="form-checkout__identificationType" name="identificationType" class="form-control"></select>
                                </div>
                                <div class="form-group col-sm-7">
                                    <input id="form-checkout__identificationNumber" name="docNumber" type="text" class="form-control" />
                                </div>
                            </div>
                            <br>
                            <h3 class="title">Datos de la tarjeta</h3>
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <input id="form-checkout__cardholderName" name="cardholderName" type="text" class="form-control" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="input-group expiration-date">
                                        <div id="form-checkout__expirationDate" class="form-control h-40"></div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-8">
                                    <div id="form-checkout__cardNumber" class="form-control h-40"></div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div id="form-checkout__securityCode" class="form-control h-40"></div>
                                </div>
                                <div id="issuerInput" class="form-group col-sm-12 hidden">
                                    <select id="form-checkout__issuer" name="issuer" class="form-control"></select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <select id="form-checkout__installments" name="installments" type="text" class="form-control"></select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="hidden" id="amount" />
                                    <input type="hidden" id="description" />
                                    <input type="hidden" id="runnerDBI" value="<%= runnerDBI %>" />
                                    <div id="validation-error-messages">
                                    </div>
                                    <br>
                                    <button id="form-checkout__submit" type="submit" class="btn btn-primary btn-block">Pagar</button>
                                    <br>
                                    <p id="loading-message">Cargando...</p>
                                    <br>
                                    <a id="go-back">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 10 10" class="chevron-left">
                                                <path fill="#009EE3" fill-rule="nonzero"id="chevron_left" d="M7.05 1.4L6.2.552 1.756 4.997l4.449 4.448.849-.848-3.6-3.6z"></path>
                                            </svg> Volver al resumen
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Result -->
        <section class="shopping-cart dark">
            <div class="container container__result">
                <div class="block-heading">
                    <h2>Resultado del pago</h2>
                    
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="items product info product-details">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4 product-detail">
                                        <div class="product-info">
                                            <div id="fail-response">
                                                <br/>
                                                <img src="img/fail.png" width="350px">
                                                <p class="text-center font-weight-bold">Algo salio Mal!</p>
                                                <p id="error-message" class="text-center"></p>
                                                <br/>
                                            </div>

                                            <div id="success-response">
                                                <h1>Pago Exitoso!</h1>
                                                <br/>
                                                <p><b>ID: </b><span id="payment-id"></span></p>
                                                <p><b>Status: </b><span id="payment-status"></span></p>
                                                <p><b>Detail: </b><span id="payment-detail"></span></p>
                                                <br/>
                                                <button type="button" class="btn btn-primary btn-block"><a href="/" style="text-decoration: none; color:white">Volver a MMRun</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_logo"><img id="horizontal_logo" src="/images/horizontal_logo.png"></div>
        <div class="footer_text">
            <p>Desarrollado por :</p>
            <p><a href="https://www.mercadopago.com/developers">HV Developers, Patagonia Argentina</a></p>
        </div>
    </footer>
</body>

</html>